#one{
	display: block;
	float: right;
	width: 70%
}

#users{
	display: block;
	float: left;
	width: 30%
}

.two{
	border-radius: 12px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin-top: 10px
}