/* Hamdallah driver Qamar navigator */
body{
	background-image: url("https://ak.picdn.net/shutterstock/videos/17023603/thumb/1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#one{
	display: block;
	float: right;
	width: 80%;
	text-align: center;
	color:rgb(33, 128, 112);
}

#users{
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	color:rgb(33, 128, 112);
}

.two{
	border-radius: 12px;
	border-top: 7px solid rgb(33, 128, 112);
	margin-top: 10px;
	margin-right: 30px;
}

/* Qamar driver Hamdallah navigator */
input[type=text]{
width: 70%;
height: 40px;
border-radius: 12px;
background-color: rgb(213, 235, 213);
margin-right: 16px;
outline: none;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}

p{
	font-weight: bold;
	font-size: 30px;
	
}

input[type=button]{
	border-radius: 12px;
	outline: none;
	background-color: rgb(33, 128, 112);
	color: white;
	width: 80px;
	height: 40px;
}

/* Hamdallah driver Qamar navigator */
#two *{
	margin: 8px 5px 8px 5px;
	font-weight: bold;
}

#three *{
	margin: 8px 5px 8px 5px;
	font-weight: bold;
}